In [1]:
import biodiversipy
import pandas as pd

In [2]:
!pwd

/Users/mikkelvaldemarkoch/code/MikkelValdemar/biodiversipy/notebooks

In [11]:
def mask_fn(data, coords):
    mask = (data['lat_lower'] >= coords['lat_lower']) & \
           (data['lat_upper'] <= coords['lat_upper']) & \
           (data['lon_lower'] >= coords['lon_lower']) & \
           (data['lon_upper'] <= coords['lon_upper'])

    data = data[mask]
    return data

In [26]:
lon_low, lat_low, lon_up, lat_up = (12.4665964426,52.1457991475,14.3566136029,52.8269473878)

In [31]:
coords_subset = {
    'lat_lower': lat_low,
    'lat_upper': lat_up, 
    'lon_lower': lon_low,
    'lon_upper': lon_up
}

In [32]:
coords_subset

{'lat_lower': 52.1457991475,
 'lat_upper': 52.8269473878,
 'lon_lower': 12.4665964426,
 'lon_upper': 14.3566136029}

In [39]:
# Save gee
gee = pd.read_csv('../raw_data/output/features/USGS_SRTMGL1_003_germany.csv')
gee_subset = mask_fn(gee, coords_subset)
gee_subset.to_csv('../raw_data/output/features/dummies/USGS_SRTMGL1_003_germany.csv', index=False)

In [41]:
# Save soilgrid
soil = pd.read_csv('../raw_data/output/features/soilgrid_tiffs_germany.csv')
soil_subset = mask_fn(soil, coords_subset)
soil_subset.to_csv('../raw_data/output/features/dummies/soilgrid_tiffs_germany.csv', index=False)

In [42]:
# Save worldclim
wc = pd.read_csv('../raw_data/output/features/wc2.1_30s_bio_germany.csv')
wc_subset = mask_fn(wc, coords_subset)
wc_subset.to_csv('../raw_data/output/features/dummies/wc2.1_30s_bio_germany.csv', index=False)

In [36]:
tmp = pd.read_csv('../raw_data/output/features/dummies/USGS_SRTMGL1_003_germany.csv')

In [44]:
gee_subset

          lon_lower  lon_upper  lat_lower  lat_upper  elevation     slope
65177907  12.467055  12.467953  52.825744  52.826642         39  2.688196
65177908  12.467055  12.467953  52.824846  52.825744         41  1.603082
65177909  12.467055  12.467953  52.823947  52.824846         37  1.203670
65177910  12.467055  12.467953  52.823049  52.823947         43  3.331941
65177911  12.467055  12.467953  52.822151  52.823049         45  0.463735
...             ...        ...        ...        ...        ...       ...
83894867  14.355314  14.356212  52.150211  52.151109         72  2.765778
83894868  14.355314  14.356212  52.149312  52.150211         74  2.002226
83894869  14.355314  14.356212  52.148414  52.149312         73  3.163312
83894870  14.355314  14.356212  52.147516  52.148414         77  3.704792
83894871  14.355314  14.356212  52.146618  52.147516         78  1.772800

[1591971 rows x 6 columns]

In [ ]:
gee_subset