In [ ]:
!pwd

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
data = pd.read_csv('../raw_data/gbif/occurences_100000.csv')
data.head()

In [ ]:
coordinates = data.copy()
coordinates['taxonKey'] = coordinates['taxonKey'].astype('string')

coordinates['coordinates'] = coordinates.apply(lambda row: (row.latitude, row.longitude), axis = 1)
coordinates.head()

In [ ]:
grouped = coordinates.groupby(['coordinates'])['taxonKey'].apply(list)

In [ ]:
grouped = pd.DataFrame(grouped)
grouped.head()

In [ ]:
temp = grouped['taxonKey'].map(lambda x: ' '.join(x))
temp = temp.to_list()

In [ ]:
vectorizer = CountVectorizer(tokenizer=lambda txt: txt.split())

temp = vectorizer.fit_transform(temp)

In [ ]:
temp = pd.DataFrame(temp.toarray(), columns = vectorizer.get_feature_names_out())
temp.head()

In [ ]:
coordinates.reset_index(inplace=True, drop = True)
coordinates.head()

In [ ]:
merged = coordinates.join(temp)

In [ ]:
merged = merged.drop(columns = ['gbifID', 'taxonKey', 'coordinates'])
merged.shape

In [ ]:
merged.dtypes

### Testing the function

In [3]:
coordinates = pd.read_csv('../raw_data/gbif/occurences_100000.csv')

In [4]:
# Create a DataFrame with a coordinates column (latitude, longitude)
coordinates['coordinates'] = coordinates.apply(lambda row: (row.latitude, row.longitude), axis = 1)

In [5]:
# Convert taxonKey to string for later vectorizing
coordinates['taxonKey'] = coordinates['taxonKey'].astype('string')
coordinates.shape

(100000, 5)

In [6]:
# Group by coordinates and list the taxonKey's
temp = coordinates.groupby(['coordinates'])['taxonKey'].apply(list)
temp = pd.DataFrame(temp)
temp.head()

                         taxonKey
coordinates
(47.27662, 10.177038)   [2985949]
(47.280147, 10.19891)   [2864397]
(47.285133, 10.157104)  [2820517]
(47.287818, 10.252126)  [7931979]
(47.292442, 10.185017)  [7415437]

In [7]:
# Format taxonKey Pandas Series for vectorizing
temp = temp['taxonKey'].map(lambda x: ' '.join(x))
temp = temp.to_list()

In [8]:
# Initialize CountVectorizer and apply it to the taxonKey's
vectorizer = CountVectorizer(tokenizer=lambda txt: txt.split())
temp = vectorizer.fit_transform(temp)

In [9]:
temp = pd.DataFrame(temp.toarray(), columns = vectorizer.get_feature_names_out())
temp.head()

,10010617,10055129,10055902,10071055,10096320,10178099,10220564,10242289,10356062,10368545,...,9605163,9606396,9624496,9631834,9677963,9689880,9823072,9823314,9823570,9868510
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Merging output of CountVectorizer with latitude and longitude data
coordinates.reset_index(inplace=True, drop = True)
coordinates.shape

(100000, 5)

In [11]:
coordinates = coordinates.drop(columns = ['gbifID', 'taxonKey', 'coordinates'])

In [12]:
merged = coordinates.join(temp)

In [13]:
merged.shape

(100000, 3548)

In [14]:
coordinates.head()

    latitude  longitude
0  50.746209  12.543826
1  51.355854   6.327739
2  53.586819   8.963205
3  48.358233  10.949524
4  53.209709  10.392070

In [1]:
!pip freeze

absl-py==1.0.0
affine==2.3.1
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.4.1
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.5
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
-e git+ssh://git@github.com/TmtStss/biodiversipy.git@175090a6224152a4fcb8ccad26b45b68e51c3215#egg=biodiversipy
black==21.12b0
bleach==5.0.0
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
commonmark==0.9.1
coverage==6.2
cryptography==37.0.2
cycler==0.11.0
databricks-cli==0.16.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
docker==5.0.3
docutils==0.18.1
earthengine-api==0.1.311
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
flake8==4.0.1
Flask==2.1.2
flatbuffers==2.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gast==0.4.0
gcsfs==2022.5.0
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.8.1
google-api-python-client==1.12.11
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.46.3
gunicorn==20.1.0
h5py==3.7.0
httplib2==0.20.4
httplib2shim==0.0.3
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==23.5.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
lazy_loader==0.1rc2
libclang==14.0.1
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
memoized-property==1.0.3
mistune==0.8.4
mlflow==1.22.0
multidict==6.0.2
multipledispatch==0.6.0
mypy-extensions==0.4.3
natsort==8.1.0
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.22.4
oauthlib==3.2.0
opt-einsum==3.3.0
OWSLib==0.25.0
packaging==21.3
pandas==1.4.2
pandas-flavor==0.3.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pkginfo==1.8.2
platformdirs==2.5.2
plotly==5.5.0
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.12.0
pyjanitor==0.23.1
PyJWT==2.4.0
pylint==2.13.9
pyparsing==3.0.9
pyproj==3.3.1
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.1
PyYAML==6.0
pyzmq==23.0.0
querystring-parser==1.2.4
rasterio==1.2.10
readme-renderer==35.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
rioxarray==0.11.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
SecretStorage==3.3.2
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
sqlparse==0.4.2
stack-data==0.2.0
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
twine==4.0.0
typing_extensions==4.2.0
uritemplate==3.0.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.1.2
wrapt==1.14.1
xarray==2022.3.0
xgboost==1.5.1
yapf==0.32.0
yarl==1.7.2
zipp==3.8.0

In [19]:
check = pd.read_csv('../raw_data/gbif/occurences_1000_encoded.csv')
check.shape

(1000, 507)

In [20]:
check.head()

,Unnamed: 0,latitude,longitude,10708887,11071158,2642422,2648701,2650625,2685796,2686212,...,9151957,9172281,9182154,9206251,9220780,9349855,9458333,9483674,9485490,9490132
0,0,50.955611,14.069593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,51.743824,9.997902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,50.427910,7.911031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,50.932696,6.843283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,49.201984,8.114405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
check = pd.read_csv('../raw_data/gbif/coordinates_1000.csv')
check.head()

   Unnamed: 0   latitude  longitude
0           0  50.955611  14.069593
1           1  51.743824   9.997902
2           2  50.427910   7.911031
3           3  50.932696   6.843283
4           4  49.201984   8.114405